* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;  
    width: auto;    
}

body{
    width: auto;
}

header{
    background-color: rgb(194, 66, 66);
    color: white;
    display: flex;
    padding: 25px;
    align-items: center;
    
}

header h1{
    padding-right: 50%;
}

header a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav ul{
    display: flex;
    list-style: none;
}


/* Intro Stuff */
.introdiv{
    display: block;
    align-items: center;
    margin-left: 5%;
    margin: 2.5%;
    width: 100%;
}


.introdiv2{
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 4;
    grid-template-areas:
    "headers headers headers headers headers headers"
    "headers headers headers headers headers headers"
    "paragraphs paragraphs paragraphs paragraphs paragraphs paragraphs"
    "paragraphs paragraphs paragraphs paragraphs paragraphs paragraphs"
    ;
    align-items: center;
    margin-left: 5%;
    margin: 2.5%;
}

.homepage{  
    display: flex; 
    width: 70%;
    align-items: center;  
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.homepage h2.h2hg{
    /* font-family:; to be determined */
    margin-top: 5%;
    font-size: 3em;
    margin-right: 80%;;
}

div.p1hg p{
    position: relative;
    margin-top: 5px;
    width: 50%;
}

.img1{
    width: 40%;
}

/* Main Body Stuff */

.grid1{
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 12;
    grid-template-areas:
    "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3"
    "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3"
    "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3"  
    ;
}

.grid2{
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 9;
    grid-template-areas:
    "box1 box1 box1 box1 box2 box2 box2 box2"
    "box1 box1 box1 box1 box2 box2 box2 box2"
    "box1 box1 box1 box1 box2 box2 box2 box2"  
    ;
}

.grid3{
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-rows: 4;
    grid-template-columns: 12;
    grid-template-areas:
    "box1 box1 box1 box1 box2 box2 box2 box2"
    "box1 box1 box1 box1 box2 box2 box2 box2"
    "box1 box1 box1 box1 box2 box2 box2 box2"  
    ; */
}


.grid1 div{
    /* font-family:; to be determined */
    background-color: #f0e5af;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 10px;
    margin: 15px;
}

.grid2 div{
    /* font-family:; to be determined */
    background-color: #f0e5af;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 10px;
    margin: 15px;
}

.grid3 div{
    /* font-family:; to be determined */
    background-color: #f0e5af;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 17.5px;
    margin: 15px;
}


.box1{
    grid-area: box1;
}

.box2{
    grid-area: box2;
}

.box3{
    grid-area: box3;
}

.box1pg3{
    background-color: #f0e5af;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 10px;
    margin: 15px;
}

.box2pg3{
    background-color: #f0e5af;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 10px;
    margin: 15px;
}

.box3pg3{
    background-color: #f0e5af;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 17.5px;
    margin: 15px;
    width: 50%;
}

/* Main Page Styling */


.headers{  
    display:grid;
    column-width:2.6em ;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: 4;
    font-size: 3em;
    grid-template-areas: 
    "h21 h21 h21 h22 h22 h22"
    "h21 h21 h21 h22 h22 h22"
    "p11 p11 p11 p11 p11 p11"
    "p11 p11 p11 p11 p11 p11"
    ; 
}

.paragraphs{
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 4;
    grid-template-areas: 
    "p11 p11 p11 p12 p12 p12"
    "p11 p11 p11 p12 p12 p12"
    "p11 p11 p11 p12 p12 p12"
    "p11 p11 p11 p12 p12 p12"
    ;   
}

.h21container{
    display: flex;
    max-width: 100%;
    grid-area: h21;  
    /* padding-right: 21.2719%; */
}

.h21container h2{
    font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;  
    text-wrap: wrap;
}

.h22container h2{
    font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;  
    justify-self: start;
    text-wrap: wrap;
}


.h22container{
    display: flex;
    max-width: 100%;
    grid-area: h22; 
}

.p11container{
    display: flex;
    justify-content: center;
    grid-area: p11;
}

.p11{
    margin-right: 1.5%;
}

.p12{
    padding-right: 1.5%;
}

.p12container{
    display: flex;
    justify-content: center;
    grid-area: p12;
}

.paragraphs{
    grid-area: paragraphs;
}

.headers{
    grid-area: headers;
}

/* D'Angelos Page Styling */

.headers3{ 
    display: flex;
    justify-content: center;
}

.paragraphs3{
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 4;
    grid-template-areas: 
    "p11 p11 p11 p12 p12 p12"
    "p11 p11 p11 p12 p12 p12"
    "p11 p11 p11 p12 p12 p12"
    "p11 p11 p11 p12 p12 p12"
    ;   
}

.h21container3{
    display: flex;
    justify-content: center;
    width: 100%;
    grid-area: h21;  

}

.p11container3{
    display: flex;
    justify-content: center;
    grid-area: p11;
}

.p12container3{
    display: flex;
    justify-content: center;
    grid-area: p12;
}

.paragraphs3{
    grid-area: paragraphs;
}

.headers3{
    grid-area: headers;
}

.box1pg3 h1,.box2pg3 h1,.box3pg3 h1{
    font-size: 1.25em;

}

.box3container{
    display: flex;
    justify-content: center;

}