* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;  
    width: auto;    
}

body{
    width: auto;
    background-color: #D3D7D9;
}


header{
    background-color: #001021;
    color: white;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: left;
    
}

div#prjnovbttn{
    font-size: 1.8em;
    text-wrap: nowrap;
    align-content: center;
    grid-area: pnb;
    grid-column-start: 1;
    grid-column-end: 12;
}

div#prjnovbttn a{
    font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;
}

div#myLinks{
    text-wrap: nowrap;
    display: flex;
    grid-area: mylinks;
    grid-column-start: auto;
    grid-column-end: auto;
}

div#myLinks div {
    padding: 5%;
}

.topnav{
    display: grid;
    width: 100vw;
    align-items: center;
    grid-template-columns: 6;
    grid-template-rows: 4;
}

.topnav a:hover {
    color: #BE7F4B;
}

.topnav a{
    padding: 2.5%;
    text-decoration: none;
    color:white;
}

.topnav a.icon{
    display:none;
}

/* Main Body Stuff */

.grid2{
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 9;
    grid-template-areas:
    "box1 box1 box1 box1 box2 box2 box2 box2"
    "box1 box1 box1 box1 box2 box2 box2 box2"
    "box1 box1 box1 box1 box2 box2 box2 box2"  
    ;
}

.grid3{
    display: flex;
    justify-content: center;
}


.grid1 div{
    /* font-family:; to be determined */
    background-color: #8DB9A1;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 10px;
    margin: 15px;
    transition-property: height;
    transition-duration: 6s;
}





/* Homepage + media queries */
div.p1hg p{
    position: relative;
    margin-top: 5px;
    width: 50%;
}

.img1{
    width: 40%;
}

.grid1{
    transition-property: height;
    transition-duration: 6s;
}


.box1{
    grid-area: box1;
    transition-property: height;
    transition-duration: 6s;

}

.box2{
    grid-area: box2;
    transition-property: height;
    transition-duration: 6s;
}

.box3{
    grid-area: box3;
    transition-property: height;
    transition-duration: 6s;
    
}


.box1:hover{
    grid-area: box1;
    opacity: .8;
    height: 400px; ;
}

.box2:hover{
    grid-area: box2;
    opacity: .8;
    height: 400px; ;
}

.box3:hover{
    grid-area: box3;
    opacity: .8;
    height: 400px; ;
    
}

@media  only screen and (max-width: 460px) {
    div#myLinks{
        text-wrap: nowrap;
        display:inherit ;
        grid-area: mylinks;
        grid-row-start: 5;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: auto;
    }

    .h2hg{
        margin-right: 5%;
    }

    img{
        max-width: 20vw;
        margin-right: 10%;
    }
    
    .introdiv{
    width: 97%;
    display: block;
    align-items: center;
    margin-left: 5%;
    margin: 2.5%;
    }

    .topnavigation{
 
    }

    .gridcontainer{

    }

    .homepage h2.h2hg{
        font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;
        margin-top: 5%;
        font-size: 3em;
        margin-right: 40%;
    }

    .homepage{  
        display: flex; 
        width: 70%;
        align-items: center;  
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .p1hg p{
        display: inline;
        
    }

.topnav {
    overflow: hidden;
    position: relative;
    width: 500px;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav div#prjnovbttn a {
    color: white;
    font-size: 0.9em;
  }

  .topnav a {
    color: white;
    text-decoration: none;
    display: block;
  }

  .topnav a.icon {
    margin-right: 15%;
    max-width: 32px;
    max-height: 32px;
    background: #BE7F4B;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    padding: 1.5%;
    margin-top: 2%;
  }

}

@media  only screen and (min-width: 460px) {
    .topnav a.icon{
        display:none;
    }
    

}

@media only screen and (max-width:1039px) {
    .h2hg{
        margin-right: 5%;
    }

    img{
        width: 22.5vw;
    }
    
    .introdiv{
    width: 97%;
    display: block;
    align-items: center;
    margin-left: 5%;
    margin: 2.5%;
    }

    .topnavigation{
 
    }

    .gridcontainer{

    }

    .homepage h2.h2hg{
        font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;
        margin-top: 5%;
        font-size: 3em;
        margin-right: 40%;
    }

    .homepage{  
        display: flex; 
        width: 70%;
        align-items: center;  
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

}

@media only screen and (min-width:600px) {
    .h2hg{
        margin-right: 5%;
    }

    img{
        max-width: 20vw;
        margin-right: 10%;
    }
    
    .introdiv{
    width: 97%;
    display: block;
    align-items: center;
    margin-left: 5%;
    margin: 2.5%;
    }

    .topnavigation{
 
    }

    .gridcontainer{

    }

    .homepage h2.h2hg{
        font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;
        margin-top: 5%;
        font-size: 3em;
        margin-right: 55%;
    }

    .homepage{  
        display: flex; 
        width: 70%;
        align-items: center;  
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .grid1{
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 12;
        grid-template-areas:
        "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3"
        "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3"
        "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3"  
        ;
    }


}

@media only screen and (min-width:1039px) {
    .h2hg{
        margin-right: 5%;

    }
    
    .introdiv{
    width: 97%;
    display: block;
    align-items: center;
    margin-left: 5%;
    margin: 2.5%;
    }

    .topnavigation{
 
    }

    .gridcontainer{

    }

    .homepage h2.h2hg{
        font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;
        margin-top: 5%;
        font-size: 3em;
        margin-right: 80%;
    }

    .homepage{  
        display: flex; 
        width: 70%;
        align-items: center;  
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .grid1{
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 12;
        grid-template-areas:
        "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3"
        "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3"
        "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3"  
        ;
    }


}



/* Main Page media queries */

@media  only screen and (max-width: 600px) {

    .introdiv2{
        display: grid;
        grid-template-columns: 6;
        grid-template-rows: 6;
        align-items: center;
        margin-left: 5%;
        margin: 2.5%;
    }
    
    .header1{  
        display:grid;
        /* column-width:2.6em ; */
        grid-column-start: 1;
        grid-column-end: 6;
        grid-template-columns: 6 ;
        grid-template-rows: 4;
        font-size: 3em;
        grid-template-areas: 
        "h21 h21 h21 h21 h21 h21"    
        "h21 h21 h21 h21 h21 h21"    
        "h21 h21 h21 h21 h21 h21"    
        "h21 h21 h21 h21 h21 h21"    
        ; 
    }
    
    .header2{  
        display:grid;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 6;
        /* column-width:2.6em ; */
        grid-template-columns: 6;
        grid-template-rows: 4;
        font-size: 3em;
        grid-template-areas: 
        "h22 h22 h22 h22 h22 h22"
        "h22 h22 h22 h22 h22 h22"
        "h22 h22 h22 h22 h22 h22"
        "h22 h22 h22 h22 h22 h22"   
        ; 
    }
    
    
    .paragraph1{
        grid-area: paragraph1;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-columns: 6;
        grid-template-rows: 4;
        grid-template-areas: 
        "p11 p11 p11 p11 p11 p11"
        "p11 p11 p11 p11 p11 p11"
        "p11 p11 p11 p11 p11 p11"
        "p11 p11 p11 p11 p11 p11"
        ;   
    }
    
    .paragraph2{
        grid-area: paragraph2;
        display: grid;
        grid-row-start: 4;
        grid-row-end: 4;
        grid-template-columns: 6;
        grid-template-rows: 4;
        grid-template-areas: 
        "p12 p12 p12 p12 p12 p12"
        "p12 p12 p12 p12 p12 p12"
        "p12 p12 p12 p12 p12 p12"
        "p12 p12 p12 p12 p12 p12"    
    }
    
    .h21container{
        display: flex;
        max-width: 100%;
        grid-area: h21;  
    }
    
    .h22container{
        display: flex;
        max-width: 100%;
        grid-area: h22; 
    }

    .h21{
        font-size: .6em;
    }

    .h22{
        font-size: .6em;
    }
    
    
    .h21container div{
        font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;  
        text-wrap: wrap;
    }
    
    .h22container div{
        font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;  
        justify-self: start;
        text-wrap: wrap;
    }
    
    
    
    .p11container{
        display: flex;
        justify-content: center;
        grid-area: p11;
    }
    
    .p12container{
        display: flex;
        justify-content: center;
        grid-area: p12;
    }
    
    
    .p11{
        margin-right: 1.5%;
        font-size: .8em;
    }
    
    .p12{
        padding-right: 1.5%;
        font-size: .8em;
    }
    
    
    .paragraphs{
        grid-area: paragraphs;
    }
    
    .headers{
        grid-area: headers;
    }

}

@media only screen and (min-width:601px) {
    .introdiv2{
        display: grid;
        grid-template-columns: 6;
        grid-template-rows: 6;
        align-items: center;
        margin-left: 5%;
        margin: 2.5%;
    }

    .header1{  
        display:grid;
        grid-column-start: 1;
        grid-column-end: 4;
        column-width:2.6em ;
        grid-template-columns: 6 ;
        grid-template-rows: 4;
        font-size: 3em;
       
    }
    
    .header2{  
        display:grid;
        grid-column-start: 4;
        grid-column-end: 7;
        column-width:2.6em ;
        grid-template-columns: 6;
        grid-template-rows: 4;
        font-size: 3em;
         
    }
    
    
    .paragraph1{
        grid-area: paragraph2;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-template-columns: 6;
        grid-template-rows: 4;
           
    }
    
    .paragraph2{
        grid-area: paragraph2;
        display: grid;      
        grid-column-start: 4;
        grid-column-end: 7;
        grid-template-columns: 6;
        grid-template-rows: 4;
            
    }
    
    .h21container{
        display: flex;
        max-width: 100%;
        grid-area: h21;  
    }
    
    .h22container{
        display: flex;
        max-width: 100%;
        grid-area: h22; 
    }

    .h21{
        font-size: .8em;
    }

    .h22{
        font-size: .8em;
    }
    
    
    
    .h21container div{
        font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;  
        text-wrap: wrap;
    }
    
    .h22container div{
        font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;  
        justify-self: start;
        text-wrap: wrap;
    }
    
    
    
    .p11container{
        display: flex;
        justify-content: center;
        grid-area: p11;
    }
    
    .p12container{
        display: flex;
        justify-content: center;
        grid-area: p12;
    }
    
    
    .p11{
        margin-right: 1.5%;
    }
    
    .p12{
        padding-right: 1.5%;
    }
    
    
    .paragraphs{
        grid-area: paragraphs;
    }
    
    .headers{
        grid-area: headers;
    }


}

@media only screen and (max-width:1039px) {


}

@media only screen and (min-width:600px) {
    

}








/* D'Angelos Page Styling */

.headers3{ 
    display: flex;
    justify-content: center;
}

.paragraphs3{
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 4;
    grid-template-areas: 
    "p11 p11 p11 p12 p12 p12"
    "p11 p11 p11 p12 p12 p12"
    "p11 p11 p11 p12 p12 p12"
    "p11 p11 p11 p12 p12 p12"
    ;   
}

.h21container3{
    display: flex;
    justify-content: center;
    width: 100%;
    grid-area: h21;  

}

.h213{
    font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;
    font-size: 3.5em;
}

.p11container3{
    display: flex;
    justify-content: center;
    grid-area: p11;
}

.p12container3{
    display: flex;
    justify-content: center;
    grid-area: p12;
}

.paragraphs3{
    grid-area: paragraphs;
}

.headers3{
    grid-area: headers;
}

.box1pg3 h1,.box2pg3 h1,.box3pg3 h1{
    font-size: 1.25em;
    font-family: 'DM Serif Display',Arial, Helvetica, sans-serif;
}

.box3container{
    display: flex;
    justify-content: center;
}

.box1pg3{
    background-color: #DEE1E3;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 17.5px;
    margin: 15px;
}

.box2pg3{
    background-color: #DEE1E3;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 17.5px;
    margin: 15px;
}

.box3pg3{
    background-color: #DEE1E3;
    border-radius: 5px ;
    border:  solid 2px ;
    padding: 17.5px;
    margin: 15px;
    width: 50%;
}